[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.1",
    "jinja2>=3.1.6",
    "numpy>=2.3.1",
    "pillow>=11.2.1",
    "requests>=2.32.4",
    "scipy>=1.16.0",
]
